<div class="grid">
    <span class="grid-header">
        <div class="grid-header-title">
            <h3><strong>{{ "title" | translate: {name: "" } }}</strong></h3>
            <h4>{{ "subTitle" | translate: { } }}</h4>
        </div>

        <form class="grid-form" [formGroup]="filterForm">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>{{ "search" | translate: { } }}</mat-label>
                <input matInput type="search" formControlName="name" (change)="filter()">
            </mat-form-field>
        </form>
    </span>
    <mat-progress-bar mode="indeterminate" *ngIf="isLoading" color="primary"> </mat-progress-bar>
    <mat-card>
        <mat-card-content class="grid-card">
            <perfect-scrollbar class="ps-show-always">
                <table mat-table [dataSource]="registers" matSort (matSortChange)="sortData($event)">

                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header style="cursor: pointer">
                            {{ "name" | translate: { } }}
                        </th>

                        <td mat-cell *matCellDef="let element">
                            {{element.name}}
                        </td>

                    </ng-container>
                    <ng-container matColumnDef="business">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header style="cursor: pointer">
                            {{ "business" | translate: { } }}
                        </th>
                        <td mat-cell *matCellDef="let element">
                            {{element.business}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="valuation">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header style="cursor: pointer">
                            {{ "valuation" | translate: { } }}
                        </th>
                        <td mat-cell *matCellDef="let element">
                            {{"currency" | translate: { } }} {{
                            element.valuation.toLocaleString(formatedCurrency)
                            }}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="situation">
                        <th mat-header-cell *matHeaderCellDef style="cursor: pointer">
                            {{ "situation" | translate: { } }}
                        </th>
                        <td mat-cell *matCellDef="let element" id="active-div">
                            <div [style.background-color]="element.active ? '#05ff1e' : '#ff0505'" id="active">

                            </div>

                        </td>
                    </ng-container>

                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef>{{ "actions" | translate: { } }}</th>
                        <td mat-cell *matCellDef="let element">
                            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Ações">
                                <mat-icon>visibility</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu">
                                <button mat-menu-item class="iconbutton" color="warn"
                                    (click)="openModalEditHub(element)">
                                    <mat-icon aria-label="Alterar">edit</mat-icon>
                                    <span>{{ "change" | translate: { } }}</span>
                                </button>
                            </mat-menu>
                        </td>
                    </ng-container>



                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                </table>
            </perfect-scrollbar>
            <mat-paginator [length]="10" [pageSize]="10" [pageSizeOptions]="[10, 50, 100]" aria-label="Select page">
            </mat-paginator>
        </mat-card-content>
    </mat-card>
</div>