<header>
    <div class="header">
        <span class="header-logo">
            <img width="100" height="50" src="assets/images/itau-bba-logo.png">
        </span>

        <span class="header-options">
            <mat-form-field class="header-options--menu">
                <mat-label>Idioma</mat-label>
                <mat-select (selectionChange)="changeLanguage($event)">
                    <mat-option *ngFor="let langague of langagues" [value]="langague.translate">
                        {{langague.description}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-divider [vertical]="true"></mat-divider>
            <span class="header-options-user">
                <button mat-button [matMenuTriggerFor]="menuUser">
                    <div class="menu-user">
                        <div class="photo">
                            <ngx-avatar *ngIf="!user?.photo" size="45" [round]="false" name="Cibele Santos"
                                [round]="true"></ngx-avatar>
                        </div>
                        <span class="name">Cibele Santos</span>
                        <mat-icon>expand_more</mat-icon>
                    </div>
                </button>
                <mat-menu #menuUser="matMenu" xPosition="before">
                    <button class="user-content-button" mat-menu-item>
                        <mat-icon>account_circle</mat-icon>
                        Perfil
                    </button>
                    <button class="user-content-button" mat-menu-item>
                        <mat-icon>arrow_back</mat-icon>
                        Sair
                    </button>
                </mat-menu>
            </span>
        </span>
    </div>
</header>