<header>
    <div class="header">
        <span class="header-logo">
            <img width="100" height="50" src="assets/images/itau-bba-logo.png">
        </span>

        <span class="header-options">
            <mat-form-field class="header-options--menu">
                <mat-label>{{ "languague" | translate: { } }}</mat-label>
                <mat-select (selectionChange)="changeLanguage($event)">
                    <mat-option *ngFor="let langague of langagues" [value]="langague.translate">
                        {{langague.description}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-divider [vertical]="true"></mat-divider>
            <span class="header-options-user">

                <div class="menu-user">
                    <div class="photo">
                        <ngx-avatar *ngIf="!user?.photo" size="45" [round]="false" name="John Doe"
                            [round]="true"></ngx-avatar>
                    </div>
                    <div class="name">
                        John Doe
                        <p class="name_office">{{ "office" | translate: { } }}</p>
                    </div>
                </div>

            </span>
        </span>
    </div>
</header>